* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #161b22;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s forwards 3.5s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 406;
  stroke-dashoffset: 406;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 322;
  stroke-dashoffset: 322;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 366;
  stroke-dashoffset: 366;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 356;
  stroke-dashoffset: 356;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 326;
  stroke-dashoffset: 326;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 402;
  stroke-dashoffset: 402;
  animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 322;
  stroke-dashoffset: 322;
  animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 381;
  stroke-dashoffset: 381;
  animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 381;
  stroke-dashoffset: 381;
  animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 151;
  stroke-dashoffset: 151;
  animation: line-anim 2s ease forwards 2.7s;
}
#logo path:nth-child(11) {
  stroke-dasharray: 402;
  stroke-dashoffset: 402;
  animation: line-anim 2s ease forwards 3s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
